:root {
	--color-white: #ffffff;
	--color-red: #e21;
	--font-h1: 2rem;
	--font-p: 1.25rem;
	--height-p: 1.3;
	--max-widht-main: 62.5rem;
	--color-gray-1: #f7f7f7;
	--color-gray-2: rgba(0, 0, 0, 0.2);
	--color-black: #000;
	--font-family-body: Arial, Helvetica, sans-serif;
}
