header img {
	justify-self: center;
	margin-bottom: 3.75rem;
}

.menu {
	display: flex;
	gap: 1.25rem;
	flex-wrap: wrap;
	justify-content: center;
}

.menu a {
	background: var(--color-white);
	padding: 0.9375rem 1.875rem;
	color: var(--color-back);
	text-transform: uppercase;
	border: 0.125rem solid var(--color-white);
	border-radius: 0.25rem;
}

.menu a:hover {
	border-color: var(--color-red);
}

a {
	text-decoration: none;
}
